<tr class="">
  <td>
  <a class="cartItemImageContainer">
    <img alt="Thumbnail for" class="cartItemThumbnail" src="">
  </a>
</td>
<td class="itemInfo">
    <a class="cartItemName">
    Product Name
  </a>
  </td>
  <td>
  <div class="itemUnitPrice">
    $15.69
  </div>
  </td>
  <td>
<div class="cartItemOptions">
  <button type="button" class="md-primary md-button md-ink-ripple" onclick="">Remove</button>
</div>
  </td>
  <td class="itemQuantity">
    <div class="cartItemQuantity">    
      1
    </div>
</td>
</tr>