<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
<div class="container-fluid">
<!-- --> <h1>  Three column layout </h1>
<div class ="row">
<div class="col-md-4" style="background-color:#ff9999"> Left </div>

<div class="col-md-4" style="background-color:#99ccff"> middle </div>


<div class="col-md-4" style="background-color:#00cc99"> right </div>



<p> this is some <mark> marked space </mark> in this demo </p>
<blockquote> Some wise talking here  <footer>wise waad </footer> </blockquote>
 <hl> Things to do !</hl>
<dl> <dt >Things to do indoors</dt>
<dd>Take a nap </dd>
<dd> watch netFlex</dd>
<dt >Things to do outdoors</dt>
<dd>go back indoors </dd>
</dl>


</div>


<p>  Here are some code for you <code>getUserName();</code> hehe </p>
<p>  Here is a snipet of a code 
<pre>
for User u in users
  print u.getName();
  print("/n");
</pre> 
<p>  move your words to the left  <kbd>SHIFT+TAP </kbd>  </p>


<p class="text-muted">muted text</p>
<p class="text-success"> Success ! you registered</p>
<p class ="text-danger"> Failed login !</p>
<p class ="bg-danger"> Failed login ! Danger background</p>
</div>


</body>
</html>